/* Container styles */
.-product-container {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 20px;
    overflow-y: auto;
  }

   .free-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* Product card styles */
  .free-product {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .free-product img {
    width: 100%;
    height: 80px;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .free-product-title {
    font-size: 16px;
    margin: 7px 0;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .free-product-price, .free-product-rating {
    font-size: 14px;
  }
  
  .free-product-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .free-product-button:hover {
    background-color: #0056b3;
  }
  